* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100px;
  padding: 0 70px;
  background-color: #ffffff;
  border-bottom: 1.5px solid #f2f2f2;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  /* font-size: 3.2rem; */
}

.logo h2 {
  color: #000;
  font-family: SF Pro Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-bar {
  /* background: #000; */
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  /* font-size: 28px; */
  font-style: normal;
  font-weight: 700;
}

/* .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

/* .nav-item {
  text-decoration: none;
  color: #000;

} */

.nav-link {
  color: #4D4D4D;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 10px;


  font-size: 20px;
font-style: normal;
font-weight: 500;
letter-spacing: -0.24px;
}
